.admin-tabs {
    margin: 5px;
    ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
        li {
            padding: 20px 10px;
            margin: 1px;
            border: 1px solid $c-black;

            a {
                text-decoration: none;
                color: black;
            }
        }
        li:hover {
            background-color: rgba(100, 95, 95, 0.446);
            a {
                text-decoration: underline;
            }
        }
    }
}
