.paragraph-movie {

    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 20px;

    .paragraph-title {
        font-size: 36px;
        font-weight: 600;
        
    }
}
